<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>CV</title>
</head>

<body>
    <header>
        <div class="h-container">
            <h1><a href="/">Moment 1</a></h1>
            <nav>
                <ul>
                    <li><a href="/addcourse">Lägg till kurs</a></li>
                    <li><a href="/about">Om</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <main>
            <h2>Kurser</h2>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Kurskod</th>
                                    <th>Kursnamn</th>
                                    <th>Kursplan</th>
                                    <th>Progression</th>
                                    <th>Postad:</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                    </tr>
                            </tbody>
                        </table>

                    </div>

        </main>
    </div>
    <footer>
        <p>
            Laborationsuppgift för kursen DT207G, <br> Backend-baserad webbutveckling <br>
            Copyright &copy; 2025 Ramona Reinholdz
        </p>
    </footer>

</body>

</html>